footer {
  align-items: center;
  background: #1d212c;
  border-top: 1px solid #ddd;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: auto; 
  padding: 10px 15px;
  width: 100%;
}

footer p {
  color: #ffffff;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

header {
  align-items: center;
  background: #1d212c;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}

header h1 {
  color: #ffffff;
  margin: 0;
  padding: 0;
}
